[submodule "public_html/profiles/os2intra/modules/os2intra/custom/os2intra_user_import"]
	path = public_html/profiles/os2intra/modules/os2intra/custom/os2intra_user_import
	url = https://github.com/bellcom/os2intra_user_import
