// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .os2-user-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.os2-user-teaser {
	min-height: 120px;

	.table-cell {

		&.os2-user-teaser-image {
			width: 70px;
		}

		&.os2-user-teaser-information {
			vertical-align: middle;

			.os2-user-teaser-full-name {

				a {
					font-weight: @font-weight-bold;
				}
			}

			.os2-user-teaser-email {

				a {
					word-wrap: break-word;
					word-break: break-all;
				}
			}
		}
	}
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

	// Teaser
	.os2-user-teaser {}
}

// Mobile - only
@media @media-query-mobile-only {

	// Teaser
	.os2-user-teaser {}
}

// Tablet
@media @media-query-tablet {

	// Teaser
	.os2-user-teaser {}
}

// Tablet - only
@media @media-query-tablet-only {

	// Teaser
	.os2-user-teaser {}
}

// Desktop
@media @media-query-desktop {

	// Teaser
	.os2-user-teaser {}
}

// Desktop - only
@media @media-query-desktop-only {

	// Teaser
	.os2-user-teaser {}
}

// Large desktop
@media @media-query-large-desktop {

	// Teaser
	.os2-user-teaser {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

	// Teaser
	.os2-user-teaser {}
}

// Print
@media print {

	// Teaser
	.os2-user-teaser {}
}

// Touch
.touchevents {

	// Teaser
	.os2-user-teaser {}
}

// No touch
.no-touchevents {

	// Teaser
	.os2-user-teaser {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
.os2-user-mixin-teaser() {}
