// |--------------------------------------------------------------------------
// | Teaser (default)
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .fki-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

@fki-teaser-inner-top-bottom-spacing: 10px;
@fki-teaser-inner-entity-info-top-spacing: @default-heading-top-bottom-spacing;
@fki-teaser-inner-heading-top-bottom-spacing: @default-heading-top-bottom-spacing;
@fki-teaser-inner-body-top-bottom-spacing: @default-body-top-bottom-spacing;
@fki-teaser-inner-footer-top-bottom-spacing: @default-footer-top-bottom-spacing;
@fki-teaser-inner-left-right-spacing: @default-left-right-spacing;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.fki-teaser {
    padding: @fki-teaser-inner-top-bottom-spacing 0;

    .fki-teaser-info {
        padding: @fki-teaser-inner-entity-info-top-spacing @fki-teaser-inner-left-right-spacing;
    }

    .fki-teaser-heading {
        padding: @fki-teaser-inner-heading-top-bottom-spacing @fki-teaser-inner-left-right-spacing;

        .fki-teaser-heading-title {
            .heading-h4;
            margin: 0;
        }
    }

    // Body
    .fki-teaser-body {
        padding: @fki-teaser-inner-body-top-bottom-spacing @fki-teaser-inner-left-right-spacing;

        + .fki-teaser-footer {
            padding-top: 0;
        }
    }

    // Footer
    .fki-teaser-footer {
        padding: @fki-teaser-inner-footer-top-bottom-spacing @fki-teaser-inner-left-right-spacing;

        .fki-teaser-footer-element {
            display: inline-block;
            font-size: @font-size-small;

            &:before {
                font-family: FontAwesome;
                font-size: @font-size-base;
                margin-right: 4px;
                color: @brand-secondary;
            }

            &.fki-teaser-footer-element-number-of-comments {

                &:before {
                    content: @fa-var-comment;
                }
            }

            &.fki-teaser-footer-element-number-of-hits {

                &:before {
                    content: @fa-var-eye;
                }
            }

            + .fki-teaser-footer-element {
                margin-left: 15px;
            }
        }
    }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {
}

// Tablet
@media @media-query-tablet {
}

// Desktop and up
@media @media-query-desktop {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
