// |--------------------------------------------------------------------------
// | Teaser (default)
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .fki-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

@fki-teaser-inner-entity-info-top-spacing: @default-heading-top-bottom-spacing;
@fki-teaser-inner-heading-top-bottom-spacing: @default-heading-top-bottom-spacing;
@fki-teaser-inner-body-top-bottom-spacing: @default-body-top-bottom-spacing;
@fki-teaser-inner-left-right-spacing: @default-left-right-spacing;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.fki-teaser {

    .fki-teaser-info {
        padding: @fki-teaser-inner-entity-info-top-spacing @fki-teaser-inner-left-right-spacing;
        padding-bottom: 0;
    }

    .fki-teaser-heading {
        padding: @fki-teaser-inner-heading-top-bottom-spacing @fki-teaser-inner-left-right-spacing;

        .fki-teaser-heading-title {
            .heading-h4;
            margin: 0;
        }
    }

    // Body
    .fki-teaser-body {
        padding: @fki-teaser-inner-body-top-bottom-spacing @fki-teaser-inner-left-right-spacing;
    }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {
}

// Tablet
@media @media-query-tablet {
}

// Desktop and up
@media @media-query-desktop {
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
