// Fixes problem on webform results download page (domain.***/content/domaenenavn/webform-results/download)
html.js {

	fieldset.collapsed {
		height: auto;
	}
}


.view-os2intra-brugervisning {
  span.competences {
    .btn-group;
    a {
      .btn-tertiary;
      margin-right: 10px;
    }
    
  }
  span.interests {
    .btn-group;
    a {
      .btn-quaternary;
      margin-right: 10px;
  }
}
}